/* Minimalistic scrollbar styles */
.scrollbar-minimal::-webkit-scrollbar {
  width: 6px; /* Narrower scrollbar */
  height: 6px; /* Narrower horizontal scrollbar */
}

.scrollbar-minimal::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Subtle thumb color */
  border-radius: 3px; /* Rounded corners */
}

.scrollbar-minimal::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4); /* Slightly darker on hover */
}

.scrollbar-minimal::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}
